.container
{
    display: grid;
    grid-template-columns: max-content max-content;
}
.modelo
{
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid black;
    color: white;
    padding: 0.5vw;
    background-color: #6E6E6E;
}
.consumo
{
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    border: 1px solid black;
    padding: 0.5vw;
    background-color: #6E6E6E;
}
.car
{
    border: 1px solid black;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    background-color: #CCFFFF;
}
.gas
{
    border: 1px solid black;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    background-color: #98FF98;
}
