.container
{
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: max-content;
}
.a
{
    border: 1px solid black;
}
.title
{
    text-align: center;
    grid-area: header;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5vw;
    background-color: #5EFB6E;
}
.content
{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(5, max-content);
}
.time
{
    text-align: center;
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
}
.ponto
{
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
}
.x
{
    padding: 0.1vw 0.5vw 0.1vw 0.5vw;
    color: lightgray;
}
.foot
{
    color: white;
    background-color: darkblue;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: max-content max-content;
}
.f1
{
    margin-left: 2.5vw;
}
.f2
{
    margin-left: 5vw;
}